<html>
    <head>
        <title>Merchants</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    </head>
    <body>
        <h1>SkyrimSearch</h1>
        [<a href="/Merchants">Merchants</a>|<a href="/Items">Items</a>|<a href="Categories.html">Categories</a>|<a href="Locations.html">Locations</a>|<a href="Enchantments.html">Enchantments</a>]
        
        <div id = 'display'>
            <table border='1' cellpadding='5'>
                <caption>Merchants</caption>

                <!-- Access data tuple passed from app.py -->
                {% if data %}
                    <thead>
                        <tr>
                            {% for key in data[0].keys() %} 
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for merchant in data %}
                        <tr>
                            {% for key in merchant.keys() %}
                            <td> {{merchant[key]}} </td>
                            {% endfor %}
                            <td><a href="Merchants_delete/{{merchant.merchantID}}" class="btn btn-default">Delete</a></td>
                            
                            <td><a href="Merchants_Items/{{merchant.merchantID}}">Items</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>

        <div id='insert'>
            <form id='Add_Merchant' action='/Merchants' method='POST'>
                <legend>New Merchant</legend>
                <fieldset>
                    <label>Name:</label><input type="text" name="merchant_name" required>
                    <label>Race:</label><input type="text" name="race" required>
                    <label>Shop Name:</label><input type="text" name="shop_name" required>
                    <label>Gold:</label><input type="text" name="gold" required>
                    <label>Location</label>
                        <select name="location">
                             {% for location in location_data %}
                                <option value='{{ location.locationID }}'>{{ location.location_name }}</option>
                            {% endfor %}
                        </select>
                </fieldset>
                    <input type='submit' value='Add' name='Add_Merchant'>
                    <a href='/Merchants'><input type='button' value='Cancel'></a> 
            </form>
        </div>
    </body>
</html>
        
                
