<html>
    <head>
        <title>Merchants Items</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/css/style.css') }}">
    </head>
    <body>
        <h1>SkyrimSearch</h1>
        [<a href="/Merchants">Merchants</a>|<a href="/Items">Items</a>|<a href="/Merchants_Items">Merchants Items</a>|<a href="/Categories">Categories</a>|<a href="/Locations">Locations</a>|<a href="/Enchantments">Enchantments</a>]
            
        <div id='select'>  
            <form id='Select_Merchant' action='/Merchants_Items/<int:id>' method='GET'>
                <legend>Select Merchant</legend>
                <fieldset>
                    <select name='merchantID'>
                        {% for merchants in merchants_list %}
                        <option value='{{ merchants.merchantID }}'>{{ merchants.merchant_name }}</option>
                        {% endfor %}
                    </select>
                </fieldset>
                <input type='submit' name='Select_Merchant' value='Select'>
            </form>
           
        </div>
            
        <div id='display'>
            <table border='1' cellpadding='5'>
            {% if merchants_items %}
                {% for name in merchant %}
                <caption>{{ name.merchant_name }}'s Items</caption>
                {% endfor %}
                <thead>
                    <tr>
                        {% for key in merchants_items[0].keys() %} 
                        <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in merchants_items %}
                    <tr>
                        {% for key in item.keys() %}
                        <td> {{item[key]}} </td>
                        {% endfor %}
                        <td>Delete</td>
                    </tr>
                    {% endfor %}
                </tbody>
            {% else %}
                {% for name in merchant %}
                <caption>{{ name.merchant_name }}'s Items</caption>
                {% endfor %}
                    <td>No items</td>
            {% endif %}
            </table>
        </div>
    </body>
</html>


        